:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .80rem;
  }
  
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 3rem 3rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 3rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-group input {
    height: auto;
  }
  
  .form-group>input,
  .form-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }

  /*Logo del tec*/
  .brand_logo_container {
    position: absolute;
    height: 170px;
    width: 220px;
    top: -45px;
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    text-align: center;
  }

  .brand_logo {
    height: 150px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid white;
  }
